*.swp
*.vtt
src/utils/pngtoy/docs/*
src/utils/pngtoy/tests/*
.history/**
.babelrc
package-lock.json
webpack-stats.json
.vscode/*
node_modules/
src/*.json
src/time_blocks/
src/*_blobs/
src/**/*.css
build/
bundles/
coverage/**
.vs/**
src/components/OnBoard
.DS_Store
.vs
npm-debug.log
tests_output/
docs/
jsdocs/docs/
.docz/
dist/
.idea/
.code-workspace
public/*
TestCafeStudio/reports/*
.env


#for now
Dockerfile

!profiling/.gitkeep
!coverage/.gitkeep
!src/actions/.gitkeep
!src/components/.gitkeep
!src/constants/.gitkeep
!src/containers/.gitkeep
!src/reducers/.gitkeep
!src/tests/.gitkeep
!src/utils/.gitkeep
!build/.gitkeep
!node_modules/.gitkeep
!src/courseInfo.json
!src/time_blocks/.gitkeep
!src/time_blocks/.gitkeep
!src/time_blocks/bundle_json.py